

.body-initial {background-color: rgba(49,123,151,1); background-image: url('../assets/IMAG3775.jpg');}.silex-id-1540377257999-5 {width: 1013px; min-height: 336px; top: 112px; left: 303px;}

.text-style-1 p {font-family: Arial, sans-serif; font-weight: bold;}
.text-style-2 p {font-family: Georgia, serif; font-weight: bolder; font-size: 100px; text-align: left; letter-spacing: 9px;}.text-style-2 b {letter-spacing: 9px;}body.silex-runtime {opacity: 1;}
